@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f57c13;
}

    /* HEADER */

header{
    display: inline-block;
    background-color: #fff;
    width: 100%;
    height: 90px;
}

header .logo{
    width: 110px;
    margin: 20px 0 0 50px;
}

header .menu{
    width: 40px;
    height: 40px;
    float: right;
    margin: 25px 50px 0 0;
    border: 0;
    background-color: transparent;
    background-image: url(https://www.foldsdelivers.com/wp-content/uploads/2018/12/mobile-menu-icon-orange.png);
    background-size: 50px;
    background-position: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

header .menu:hover{
    filter:brightness(0.85);
}

    /* BANNER */

.banner{
    display: flex;
    background-color: #561786;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.banner .info{
    width: 40%;
    height: 350px;
}

.banner .info .title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 3em;
    margin: 25px 0 0 50px;
    text-align: justify;
}

.banner .info .text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: justify;
    padding: 15px;
    margin: 5px 0 15px 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 190px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.banner .info .btn{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 5px 15px 5px 15px;
    margin-left: 50px;
    background-color: #f57c13;
    color: #fff;
    border-radius: 1px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.banner .info .btn:hover{
    background-color: #ce680f;
}

.banner .img{
    opacity: 0.6;
    margin: 0;
    background-image: url(https://popeek.com.br/wp-content/uploads/2020/12/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    overflow: hidden;
    width: 60%;
    height: 350px;
}