@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#bg{
    background-color: #f57c13;
}

    /* HEADER */

header{
    display: inline-block;
    background-color: #fff;
    width: 100%;
    height: 90px;
}

header .logo{
    width: 110px;
    margin: 20px 0 0 50px;
}

header .menu{
    width: 40px;
    height: 40px;
    float: right;
    margin: 25px 50px 0 0;
    border: 0;
    background-color: transparent;
    background-image: url(https://www.foldsdelivers.com/wp-content/uploads/2018/12/mobile-menu-icon-orange.png);
    background-size: 50px;
    background-position: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

header .menu:hover{
    filter:brightness(0.85);
}

    /* BANNER */

.banner{
    display: flex;
    background-color: #561786;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.banner .info{
    width: 40%;
    height: 350px;
}

.banner .info .title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 3em;
    margin: 35px 0 0 50px;
    text-align: justify;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.banner .info .text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: justify;
    padding: 15px;
    margin: 5px 0 15px 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 480px;
    max-height: 185px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.banner .info .btn{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 5px 15px 5px 15px;
    margin-left: 50px;
    background-color: #f57c13;
    color: #fff;
    border-radius: 1px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.banner .info .btn:hover{
    background-color: #ce680f;
    color: #fff;
}

.banner .img{
    opacity: 0.6;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    overflow: hidden;
    width: 60%;
    height: 350px;
}

.banner .icarly{background-image: url(https://popeek.com.br/wp-content/uploads/2020/12/image.png);}
.banner .victorious{background-image: url(https://occ-0-1068-1722.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABQ90vHPPuZzdWmmmaXvBvlfFn_qZWjjzYh-lhAqx1AI5fSBb4TvXhuiDMWy3h0TjwTHYpqonoQ3ixHwk7Kh89hKLaIan.jpg?r=7ee);}
.banner .zoey101{background-image: url(https://febreteen.com.br/wp-content/uploads/2020/07/Zoey-101-1.jpg);}

.carousel-control-prev, 
.carousel-control-next{
    width: 30px;
}